<div class="col-xs-8" id="users-content">
  <div class="user-info">
    <% if notice %>
      <!-- ここでflashを表示してます -->
      <div class="alert alert-info"><%=notice%></div>
    <% end %>
    <span class="user-name">
      <!-- ユーザーのemailを表示 -->
      <%#= @user.email %>
      <%= link_to @user.name, user_path(@user) %>
    </span>
    <% if @user != current_user %>
      <% if @user.followed_by? current_user %>
        <%= link_to "フォロー解除", user_relationships_path(@user), method: :delete %>
      <% else %>
        <%= link_to "フォロー", user_relationships_path(@user), method: :post %>
      <% end %>
    <% end %>
  </div>
  <ul class="nav nav-tabs nav-justified">
    <li>
      <%= link_to "フォロー " + @user.followings.count.to_s, follows_user_path(@user) %>
    </li>
    <li>
      <%= link_to "フォロワー " + @user.followers.count.to_s, followers_user_path(@user) %>
    </li>
  </ul>
  <ul class="nav nav-tabs nav-justified">
    <li {class: action_name == "show" ? "active" : nil}>
      <%= link_to user_path(@user) do %>
        <div class="text">
          つぶやき
        </div>
        <div class="num">
          <!-- ユーザーのツイートを数えて表示 -->
          <%= @user.tweets.count %>
        </div>
      <% end %>
    </li>

    <li {class: action_name == "favorites" ? "active" : nil}>
    <%= link_to favorites_user_path(@user) do %>
      <div class="text">
        お気に入り
      </div>
      <div class="num">
        <!-- ユーザーのお気に入りを数えて表示 -->
        <%= @user.favorites.count %>
      </div>
    <% end %>
    </li>
  </ul>
  <div class="list-group">
    <div class="list-group-item user-list">
      <h2>フォロー一覧</h2>
      <!-- ↓eachメソッドを用いてユーザー一覧を表示しましょう -->
      <% @user.followings.each do |u| %>
        <div class="list-group-item">
        	<h4 class="user">
			      <span class="user-name">
				      <!-- link_toを使用しユーザーページへのリンクを作る（表示するテキストはemail） -->
			        <%= link_to u.name, user_path(u.id) %>
			      </span>
			    </h4>
	      </div>
      <% end %>
      <!-- ↑each終わり -->
      <div class="list-group-item">
        <% if @user.followings.empty? %>
          まだ誰もフォローしていません
          <% end %>
      </div>
    </div>
  </div>
</div>
